<!DOCTYPE html>
<html>
<head>
    <title>Test Email</title>
</head>
<body>
    <h1>This is a TEST template!</h1>
    <p>If you see this, the SMTP plugin is working with custom templates.</p>
    <p>Order ID: {{order_id}}</p>
    <p>Customer: {{first_name}} {{last_name}}</p>
</body>
</html>
